[server]
url = https://obico.hgoel.dev
auth_token = 7242f4e01a10aa98dac2

[moonraker]
host = 127.0.0.1
port = 7125

[webcam]
disable_video_streaming = False
#snapshot_url = http://10.43.0.133/webcam/?action=snapshot
#stream_url = http://10.43.0.133/webcam/webrtc
#stream_url = http://10.43.0.133/webcam/?action=stream
#stream_mode = mjpeg_webrtc
h264_device_path = /base/soc/i2c0mux/i2c@1/ov5647@36

[logging]
path = /home/pi/printer_data/logs/moonraker-obico.log
#level=DEBUG

[tunnel]

[misc]
sentry_opt = in

