#[include KAMP_Settings.cfg]
[include mmu/base/*.cfg]
[include mmu/optional/client_macros.cfg]
#[include mmu/optional/mmu_ercf_cutter.cfg]
[include mainsail.cfg]
[include timelapse.cfg]
#[include pis.cfg]
#[include ebb_is.cfg]
[include thr_is.cfg]
[include K-ShakeTune/*.cfg]


[mcu]
canbus_uuid: 2e1a0a42ef75

[board_pins mcu]
mcu: mcu
aliases:
  MMU_GEAR_UART=PG8,
  MMU_GEAR_STEP=PG7,
  MMU_GEAR_DIR=PG6,
  MMU_GEAR_ENABLE=PC7,
  MMU_GEAR_DIAG=PC6,
  MMU_SEL_UART=PD11,
  MMU_SEL_STEP=PD10,
  MMU_SEL_DIR=PD9,
  MMU_SEL_ENABLE=PD13,
  MMU_SEL_DIAG=PD12,
  BELAY_SENSOR=PC3,
  MMU_SERVO=PF1,
  MMU_ENCODER=PC0,


[mcu toolhead]
canbus_uuid: 139bae4f9cb0

[board_pins toolhead]
mcu: toolhead
aliases:
  TOOLHEAD_SENSOR=gpio29,  

[stepper_x]
step_pin: PF15
dir_pin: PF14
enable_pin: !PE9
microsteps: 64
rotation_distance: 40
endstop_pin: ^toolhead:gpio24 #tmc2209_stepper_x:virtual_endstop 
position_endstop: 256
position_max: 256
position_min: -12
homing_speed: 100
homing_retract_dist: 0

[tmc5160 stepper_x]
cs_pin: PE11
spi_bus: spi4
sense_resistor: 0.075
interpolate: false
run_current: 1.2

[stepper_y]
step_pin: PB10
dir_pin: PB11
enable_pin: !PG0
microsteps: 64
rotation_distance: 40
endstop_pin: ^PC2 #tmc2209_stepper_y:virtual_endstop
position_min: -7
position_endstop: -6
position_max: 264
homing_speed: 100
homing_retract_dist: 0

[tmc5160 stepper_y]
cs_pin: PE15
spi_bus: spi4
sense_resistor: 0.075
interpolate: false
run_current: 1.2

[stepper_z]
step_pin: PD4
dir_pin: PD3
enable_pin: !PD7
microsteps: 64
rotation_distance: 4
endstop_pin: ^PC1 #probe:z_virtual_endstop
#position_endstop: 36
position_max: 300
position_min: -10
homing_speed: 20
second_homing_speed: 5
homing_retract_speed: 30
homing_retract_dist: 2

[tmc2209 stepper_z]
interpolate: false
uart_pin: PD5
run_current: 1.0

[stepper_z1]
step_pin: PC12
dir_pin: PC11
enable_pin: !PD2
microsteps: 64
rotation_distance: 4

[tmc2209 stepper_z1]
interpolate: false
uart_pin: PD0
run_current: 1.0

[stepper_z2]
step_pin: PC9
dir_pin: PC8
enable_pin: !PC10
microsteps: 64
rotation_distance: 4

[tmc2209 stepper_z2]
interpolate: false
uart_pin: PA8
run_current: 1.0

[extruder]
max_extrude_only_distance: 500.0
step_pin: toolhead:gpio5
dir_pin: toolhead:gpio4
enable_pin: !toolhead:gpio10
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 22.67895 #4.603993903555
gear_ratio:50:10
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: toolhead:gpio0
sensor_type: PT1000
pullup_resistor: 4583
sensor_pin: toolhead:gpio26
pressure_advance: 0.03
#control: pid
# tuned for stock hardware with 200 degree Celsius target
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 300
max_extrude_cross_section: 100.0
endstop_pin: tmc2209_extruder:virtual_endstop

[tmc2209 extruder]
interpolate: true
uart_pin:toolhead:gpio6
diag_pin:toolhead:gpio7
run_current: 0.6
#diag_pin: 
driver_SGTHRS: 100

[probe]
pin: ^toolhead:gpio21
speed: 5
x_offset: -1.5
y_offset: 32
samples: 3 
samples_result: median
sample_retract_dist: 2.0
samples_tolerance: 0.025
samples_tolerance_retries: 5
lift_speed: 50

[z_tilt]
z_positions:
 127.5, 245
 10, 10
 245, 10
#   A list of X, Y coordinates (one per line; subsequent lines
#   indented) describing the location of each bed "pivot point". The
#   "pivot point" is the point where the bed attaches to the given Z
#   stepper. It is described using nozzle coordinates (the X, Y position
#   of the nozzle if it could move directly above the point). The
#   first entry corresponds to stepper_z, the second to stepper_z1,
#   the third to stepper_z2, etc. This parameter must be provided.
points:
  #125, 180
  #129, 180
  #26, 180
  #230, 180
  127.5, 180
  26, 0
  230, 0

#   A list of X, Y coordinates (one per line; subsequent lines
#   indented) that should be probed during a Z_TILT_ADJUST command.
#   Specify coordinates of the nozzle and be sure the probe is above
#   the bed at the given nozzle coordinates. This parameter must be
#   provided.
speed: 700
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
horizontal_move_z: 24 #30
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
retries: 5
#   Number of times to retry if the probed points aren't within
#   tolerance.
retry_tolerance: 0.1
#   If retries are enabled then retry if largest and smallest probed
#   points differ more than retry_tolerance. Note the smallest unit of
#   change here would be a single step. However if you are probing
#   more points than steppers then you will likely have a fixed
#   minimum value for the range of probed points which you can learn
#   by observing command output.

[idle_timeout]
timeout: 3600

[bed_mesh]
speed: 700
horizontal_move_z: 24 #30
mesh_min: 15, 50
mesh_max: 245, 245
probe_count: 5, 5
#algorithm: bicubic
move_check_distance: 3
split_delta_z: .025
zero_reference_position: 127.5, 127.5

[input_shaper]
shaper_freq_x: 65.0
shaper_type_x: mzv
damping_ratio_x: 0.056
shaper_freq_y: 45.4
shaper_type_y: mzv
damping_ratio_y: 0.067

[exclude_object]

[heater_bed]
heater_pin: PG11
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA1
pullup_resistor: 2200
#control: pid
# tuned for stock hardware with 50 degree Celsius target
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

#[temperature_sensor EBB36]
#sensor_type: temperature_mcu
#sensor_mcu: EBBCan

[temperature_fan RPi]
sensor_type: temperature_host
pin: PF9
control: watermark
min_temp: 0
max_temp: 100
target_temp: 65.0

[temperature_sensor Leviathan]
sensor_type: temperature_mcu
sensor_mcu: mcu

[temperature_fan Toolhead]
sensor_type: temperature_mcu
sensor_mcu: toolhead
pin: toolhead:gpio1
control: watermark
min_temp: 0
max_temp: 90
target_temp: 60.0

[temperature_sensor Enclosure]
sensor_type: EPCOS 100K B57560G104F
sensor_pin: mcu:PA0
pullup_resistor: 2200

[controller_fan stepper_fan]
pin: PB7
stepper: stepper_x, stepper_y, stepper_z, stepper_z1, stepper_z2

[fan]
pin: toolhead:gpio2
max_power: 1.0

[heater_fan hotend_fan]
pin: toolhead:gpio3
heater: extruder
heater_temp: 50.0

[fan_generic bentobox]
pin: mcu:PB3

[neopixel pico_lights]
pin: PF10
chain_count: 10
color_order: GRB
initial_RED: 1.0
initial_GREEN: 1.0
initial_BLUE: 1.0

[neopixel hotend_lights]
pin: toolhead:gpio20
chain_count: 2
color_order: GRB
initial_RED: 0.6
initial_GREEN: 0.6
initial_BLUE: 0.6

[printer]
kinematics: corexy
max_velocity: 700
max_accel: 20000
max_z_velocity: 50
max_z_accel: 250

[force_move]
# Enable commands that force potentially unsafe movement
enable_force_move: True

[gcode_macro START_PRINT]
description: Called when starting print
gcode:
    {% set REFERENCED_TOOLS = params.REFERENCED_TOOLS|default("")|string %}
    {% set INITIAL_TOOL = params.INITIAL_TOOL|default(0)|int %}
    {% set BED_TEMP = params.BED_TEMP|default(0)|int %}
    {% set CHAMBER_TEMP = params.CHAMBER_TEMP|default(0)|int %}
    {% set NOZZLE_TEMP = params.NOZZLE_TEMP|default(0)|int %}

    {% if REFERENCED_TOOLS == "!referenced_tools!" %}
        RESPOND MSG="Happy Hare gcode pre-processor is disabled"
        {% set REFERENCED_TOOLS = INITIAL_TOOL %}
    {% elif REFERENCED_TOOLS == "" %}
        RESPOND MSG="Happy Hare single color print"
        {% set REFERENCED_TOOLS = INITIAL_TOOL %}
    {% endif %}

    G90 ; use absolute coordinates
    M83 ; extruder relative mode
    ;M140 S[bed_temperature_initial_layer] ; set final bed temp
    M140 S{BED_TEMP}
    M104 S150 ; set temporary nozzle temp to prevent oozing during homing
    G4 S10 ; allow partial nozzle warmup
    BED_MESH_CLEAR
    {% if CHAMBER_TEMP > 0 %}
      RESPOND MSG="Waiting for chamber temperature"
      SET_FAN_SPEED FAN=bentobox SPEED=1
      TEMPERATURE_WAIT SENSOR="temperature_sensor Enclosure" MINIMUM={CHAMBER_TEMP}
    {% endif %}
    ;M190 S[bed_temperature_initial_layer] ; wait for bed temp to stabilize
    M190 S{BED_TEMP}
    {% if "xy" not in printer.toolhead.homed_axes %} ; only bother homing x and y if not already homed
      G28 XY
    {% endif %}
    ;BRUSH_NOZZLE
    ATTACH_PROBE_LOCK
    {% if "z" not in printer.toolhead.homed_axes %} ; only bother homing x and y if not already homed
      G28 Z
    {% endif %}
    Z_TILT_ADJUST
    CALIBRATE_Z
    BED_MESH_CALIBRATE ADAPTIVE=1
    ;BED_MESH_CALIBRATE PROFILE=default MESH_MIN={first_layer_print_min[0]},{max(50, first_layer_print_min[1])} MESH_MAX={first_layer_print_max[0]},{min(200, first_layer_print_max[1])}
    ;BED_MESH_CALIBRATE PROFILE=default MESH_MIN={params.PRINT_BOUNDS[0]},{[50, params.PRINT_BOUNDS[1]]|max} MESH_MAX={params.PRINT_BOUNDS[2]},{[200, params.PRINT_BOUNDS[3]]|min}
    DOCK_PROBE_UNLOCK
    G1 Z50 F240
    G1 X255 Y10 F3000

    M104 S{NOZZLE_TEMP} ; set final nozzle temp
    M109 S{NOZZLE_TEMP} ; wait for nozzle temp to stabilize

    _MMU_PRINT_START
    MMU_CHECK_GATE TOOLS={REFERENCED_TOOLS}
    MMU_CHANGE_TOOL STANDALONE=1 TOOL={INITIAL_TOOL} # Optional: load initial tool

    ;ZEROG_PURGE ;Disable purge due to addition of purge bucket

[gcode_macro TOOLCHANGE]
description: Called when changing filament
gcode:
    M104 S{params.NOZZLE_TEMP} ; set next filament temps
    M140 S{params.BED_TEMP}

    T{params.NEXT_TOOL} ; change tool

    M109 S{params.NOZZLE_TEMP} ; wait for next filament temps to stabilize
    M190 S{params.BED_TEMP}

[gcode_macro END_PRINT]
description: Called when ending print
gcode:
    {% set MAX_LAYER_Z = params.MAX_LAYER_Z|default(200)|int %}
    {% set PRINTABLE_HEIGHT = printer.toolhead.axis_maximum.z*0.8%}

    {% if MAX_LAYER_Z < PRINTABLE_HEIGHT %} 
        G1 Z{[MAX_LAYER_Z+2, PRINTABLE_HEIGHT]|min} F600 ; Move print head up{endif}
    {% endif %}

    UPDATE_DELAYED_GCODE ID=STOP_FAN DURATION=1800 ; 30 minutes
    ;{if max_layer_z < printable_height-10}G1 Z{min(max_layer_z+70, printable_height-10)} F600 ; Move print head further up{endif}
    ;{if max_layer_z < printable_height*0.6}G1 Z{printable_height*0.6} F600 ; Move print head further up{endif}
    MMU_EJECT
    M140 S0 ; turn off heatbed
    M104 S0 ; turn off temperature
    M107 ; turn off fan
    G1 X5 Y{printer.toolhead.axis_maximum.y*0.8} F6000 ; present print
    ;M84 X Y E ; disable motors
    

[delayed_gcode STOP_FAN]
gcode:
  SET_FAN_SPEED FAN=bentobox SPEED=0

[gcode_macro _MMU_LOAD_SEQUENCE_STALLGUARD]
description: Called when MMU is asked to load filament
gcode:
    {% set length = params.LENGTH|float %}
    {% set full = params.FULL|int %}
    {% set skip_extruder = params.SKIP_EXTRUDER|int %}
    {% set extruder_only = params.EXTRUDER_ONLY|int %}

    {% if extruder_only %}
        _MMU_STEP_HOMING_MOVE ENDSTOP=mmu_ext_touch MOVE=100 MOTOR=extruder
        _MMU_STEP_SET_FILAMENT STATE=10	# FILAMENT_POS_LOADED
    {% else %}
        _MMU_STEP_LOAD_GATE
        _MMU_STEP_LOAD_BOWDEN LENGTH={length}
        {% if full and not skip_extruder %}
            _MMU_STEP_HOMING_MOVE ENDSTOP=mmu_ext_touch MOVE=100 MOTOR=gear+extruder
            _MMU_STEP_SET_FILAMENT STATE=10	# FILAMENT_POS_LOADED
        {% endif %}
    {% endif %}

[gcode_macro BRUSH_NOZZLE]
# heat nozzle for best results
variable_brushpos_x: -12
variable_brushpos_y: 37
variable_brushwidth: 0
variable_brushheight: 10
variable_z1: 2 #z value for pushing the nozzle into the brush
variable_safe_z: 40
gcode:
    ;M400  ;wait for buffer to clear
    {% if "xy" not in printer.toolhead.homed_axes %}
        G28         ;home axes before travel moves
    {% endif %}

    G90
    G1 X{brushpos_x} Y{brushpos_y} F5000  ;left position
    
    RESPOND MSG="Brushing Nozzle"
    G1 X{brushpos_x + brushwidth / 2} Y{brushpos_y + brushheight / 2} F5000
    G1 X{brushpos_x - brushwidth / 2} Y{brushpos_y - brushheight / 2} F2000
    G1 X{brushpos_x + brushwidth / 2} Y{brushpos_y + brushheight / 2} F2000
    G1 X{brushpos_x - brushwidth / 2} Y{brushpos_y - brushheight / 2} F2000
    G1 X{brushpos_x + brushwidth / 2} Y{brushpos_y + brushheight / 2} F2000
    RESPOND MSG="Nozzle Cleaned"

[gcode_macro PURGE_NOZZLE]
description: Purges filament into bucket
variable_purge_amount: 50
gcode:
    G1 X-12 Y65 F6000;move to bucket
    MMU_SYNC_GEAR_MOTOR SYNC=1 SERVO=1
    G1 E{purge_amount} F600
    BRUSH_NOZZLE

[gcode_macro WLED_ON]
description: Turn WLED strip on using optional preset and resets led colors
gcode:
  {% set strip = params.STRIP|string %}
  {% set preset = params.PRESET|default(-1)|int %}

  {action_call_remote_method("set_wled_state",
                             strip=strip,
                             state=True,
                             preset=preset)}

[gcode_macro WLED_CONTROL]
description: Control effect values and brightness
gcode:
  {% set strip = params.STRIP|default('lights')|string %}
  {% set brightness = params.BRIGHTNESS|default(-1)|int %}
  {% set intensity = params.INTENSITY|default(-1)|int %}
  {% set speed = params.SPEED|default(-1)|int %}

  {action_call_remote_method("set_wled_state",
                             strip=strip,
                             brightness=brightness,
                             intensity=intensity,
                             speed=speed)}

[gcode_macro WLED_OFF]
description: Turn WLED strip off
gcode:
  {% set strip = params.STRIP|string %}

  {action_call_remote_method("set_wled_state",
                             strip=strip,
                             state=False)}

[include klicky-probe.cfg]

[z_calibration]
speed: 700
nozzle_xy_position: 104, 262.5
switch_xy_position: 99, 229
bed_xy_position: 127.5, 127.5
switch_offset: 4.275 #0.275 #0.956 #0.275 #4.6
#start_gcode: Brush_Nozzle
start_gcode: Attach_Probe
#before_switch_gcode: Attach_Probe
end_gcode: Dock_Probe
offset_margins: -0.2,1.0
safe_z_height: 30
probing_first_fast: true

[endstop_phase]

[gcode_arcs]
resolution: 0.5

[resonance_z_probe]
accel_chip: adxl345
step_size: 0.01
samples_tolerance: 0.002
accel_per_hz: 75
z_vibration_freq: 200
amplitude_threshold: 550
rate_above_threshold: 0.01
probe_points: 127.5, 127.5, 1
safe_min_z: 0.15
cycle_per_test: 20

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 27.821
#*# pid_ki = 2.263
#*# pid_kd = 85.515
#*#
#*# [probe]
#*# z_offset = 0
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 48.978
#*# pid_ki = 3.401
#*# pid_kd = 176.319
#*#
#*# [stepper_z]
#*# position_endstop = 3.699
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.002838, 0.059088, 0.058776
#*# 	0.081276, -0.000287, 0.138776
#*# 	0.210651, 0.114713, 0.264088
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 15.0
#*# max_x = 245.0
#*# min_y = 50.0
#*# max_y = 245.0
